:root {
  --blue: rgb(39,60,128);
}

*{
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
  box-sizing: border-box;
  cursor: url('../../Images/Other/star.png'),auto;
}

.hero{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../../Images/Other/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.buttonHero{
  display: flex;
}

.titleHero{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 90px;
  color: var(--blue);
}
.formReviewer{
  display: flex;
}


.buttonUsersHero{
  height: 150px;
  width: 200px;
  margin: 20px; 
  font-size:50px;
  text-transform: uppercase;
  background-color:rgba(39, 60, 128, 0.349) ;
  color: white;
}

.buttonReviewer{
  height: 150px;
  width: 200px;
  margin: 20px; 
  font-size:50px;
  text-transform: uppercase;
  background-color:rgba(39, 60, 128, 0.349) ;
  color: white;
}

.buttonReviewer:hover, .usersButton:hover, 
.buttonUsersHero:hover{
  background-color: rgba(0, 0, 0, 0.404);
}

@media only screen and (max-width: 600px) {
  .hero{
      flex-direction: column;
      justify-content:center;
  }
  .buttonHero{
    flex-direction: column;
  }
  .formReviewer{
    width: 100vw;
  }
  .titleHero{
    font-size: 70px;
  }
  .buttonReviewer, 
  .buttonUsersHero{
    width: 100vw;
  }
  .usersButton{
    width: 100vw;
  }
  .formReviewer{
    display: flex;
    flex-direction: column;
  }
}