.containerReviewer {
  text-align: center;
  align-items: center;
  height: 30%;
  width: 80%;
  margin-bottom: 1%;
  border: solid black;
}

.linkReviewer {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.Title {
  color: white;
  background-color: cornflowerblue;
}

.divObjectList {
  border: solid black;
}

.divAboutReviewer {
  border: solid black;
}
